<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>179092138698-2h4ftvp18l3shmvnst7u7563v5vkp5f2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.179092138698-2h4ftvp18l3shmvnst7u7563v5vkp5f2</string>
	<key>API_KEY</key>
	<string>AIzaSyAD7UVr8DRBiNKTNLt5f_9ezq-RvTu6_3E</string>
	<key>GCM_SENDER_ID</key>
	<string>179092138698</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Buildtrotter</string>
	<key>PROJECT_ID</key>
	<string>buildtrotter</string>
	<key>STORAGE_BUCKET</key>
	<string>buildtrotter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:179092138698:ios:4707df3507b7d55d2ca233</string>
	<key>DATABASE_URL</key>
	<string>https://buildtrotter.firebaseio.com</string>
</dict>
</plist>